<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.travel.wifimap.domain.User" />
		<mapping class="com.travel.wifimap.domain.SocialProfile" />
		<mapping class="com.travel.wifimap.domain.Feedback" />
		<mapping class="com.travel.wifimap.domain.Category" />
		<mapping class="com.travel.wifimap.domain.Venue" />
		<mapping class="com.travel.wifimap.domain.Comment" />
	</session-factory>
</hibernate-configuration>